img{
    height: 200px;
    width: 200px;
}

html, body{
    height: 99%;
    width: 99%;
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 7px solid black;
    padding: 15px;
}

.rondas{
    display: flex;
    font-size: 25px;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.manos{
    display: flex;
    align-items:center;
    justify-content: space-between;
    font-size: 20px;
    gap: 300px;
    transition: 0.9s;
}

.puntajes{
    display: flex;
    align-items: center;
    gap: 100px;
    font-size: 20px;
}

.puntaje1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 15px;
}

.puntaje2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 15px;
}

p{
    font-size: 40px;
}

.containerMainMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 180px;
    font-weight: bold;
    font-size: 40px;
}

button{
    background: white;
    border: 5px solid black;
    font-size: 40px;
    font-weight: bold;
    color: black;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover{
    background: black;
    color: white;
}

button:active {
    border: 5px solid white;
    transform: translateY(2px);
  }

.container{
    display: flex; 
    gap: 150px;
    height: 430px;
    width: 1100px;
    transition-duration: 1.5s;
    justify-content: center;
    align-items: center;
}

.containerPiedra{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 7px solid black;
    border-radius: 7px;
    padding: 20px;
    transition-duration: 0.8s;
    cursor: pointer;
    
}

.containerPapel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 7px solid black;
    border-radius: 7px;
    padding: 20px;
    transition-duration: 0.8s;
    cursor: pointer;
    
}

.containerTijera{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 7px solid black;
    border-radius: 7px;
    padding: 20px;
    transition-duration: 0.8s;
    cursor: pointer;
    
}

.containerPiedra:hover{
    background: black;
    color: white;
    flex-grow: 1;
    height: 70%;
}

.containerPiedra:active {
    border: 5px solid white;
    transform: translateY(2px);
  }

.containerPapel:hover{
    background: black;
    color: white;
    flex-grow: 1;
    height: 70%;
}

.containerPapel:active {
    border: 5px solid white;
    transform: translateY(2px);
}

.containerTijera:hover{
    background: black;
    color: white;
    flex-grow: 1;
    height: 70%;
}

.containerTijera:active {
    border: 5px solid white;
    transform: translateY(1px);
  }

